header > nav{
    display: flex;
    padding: 5vmin 0;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .logo-container {
    width: 70px;
    height: 43px;
    display: flex;
    flex-shrink: 0;
    
  }
  .logo-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  nav ul {
    font-size: 0.75rem;
    list-style: none;
    display: flex;
    gap: 4vmin;
    margin-right: 5vmin;
    
    
  }
  nav ul li,
  nav ul a {
    display: inline-block;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
    height: 100%;
    align-items: center;
    padding: 5px 2px;
    transition: transform 0.3s ease;
  }
  
  nav ul a:hover {
    color: rgb(201, 201, 201);
    transform: scale(1.05);
    
  }
  
  nav ul li.active {
    position: relative; /* Needed for pseudo-elements */
    background-color: transparent; /* Remove the gray background */
  }
  
  /* Horizontal line above active link */
  nav ul li.active::before,
  nav ul li.active::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0.5px; /* Line thickness */
    background-color: black; /* Line color */
  }
  
  nav ul li.active::before {
    top: -5px; /* Position above the text */
  }
  
  nav ul li.active::after {
    bottom: -5px; /* Position below the text */
  }
  
  /* Adjust link padding for better spacing */
  nav ul li {
    padding: 10px 2px; /* Increased vertical padding */
  }